@import "tailwindcss";

:root {
  --primary-blue: #0009af;
  --primary-gold: #f1aa00;
  --navbar-height: 72px;
}

@theme inline {
  --color-primaryBlue: #0009af;
  --color-primaryGold: #f1aa00;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #101928;
  --color-background: #ffffff;
  --color-foreground: #101928;
  --font-sans: var(--font-teachers), system-ui, sans-serif;
  --font-kavoon: var(--font-kavoon), cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #101928;
  font-family: var(--font-teachers), system-ui, sans-serif;
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
